body{
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

:root{
    --primary: #214687;
    --secondary: #3D6FB6;
    --tertiary: #4688E0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1{
    font-size: 5rem;
    margin: 1rem 0;
}

h2{
    font-size: 3rem;
    margin: 0.75rem 0;
}

h3{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    margin: 0.75rem 0;
    color: var(--tertiary);
}